<section id="about" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Yup, that's right</h2>
                <h3 class="section-subheading text-muted">We're the official community of hackers, builders, makers, and innovators at UMass Amherst</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Build</h4>
                <p class="text-muted">Got a great idea for an app? How about a side project you never got around to finishing? Niether? No problem! Come to our weekly meetings and start, join, or finish a cool project.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Learn</h4>
                <p class="text-muted">Listen to tech talks from professors and students, get job and internship advice, and build up your skillset by making cool stuff. We welcome hackers of all skill levels; everybody is a beginner at some point.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Network</h4>
                <p class="text-muted">Ever wish you knew a graphic designer that you could call when you needed a new logo? Or someone who could help you land a summer internship? Wish no more. Chat, work, and hang out with us!</p>
            </div>
        </div>
    </div>
</section>
