<section id="faq" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Is this for me?</h2>
                <h3 class="section-subheading text-muted">A few frequently asked questions</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/1.svg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>#1</h4>
                                <h4 class="subheading">Who can join?</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">All UMass students are welcome to join! Your major, level of experience, and year of graduation don't matter; we're just looking for fun, talented, and motivated people.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/2.svg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>#2</h4>
                                <h4 class="subheading">Great, how do I sign up?</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Thanks for asking! We're an ACM interest group, so <a target="_blank" href="http://umass.acm.org/members/">join that club</a> first; don't worry, there are no fees or obligations that come with being a member. Once you do that, scroll down the page for more info!</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/3.svg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>#3</h4>
                                <h4 class="subheading">What if I don't know how to program?</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Then we want you to come to a meeting even more! Getting started is the first step to becoming an expert. In fact, you don't even have to program if you don't want to.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/4.svg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>#4</h4>
                                <h4 class="subheading">Okay, but where is ILC S311 located?</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Walk into the ILC from the North Pleasant Street entrance (where the buses stop), and go up the stairs and to the left to get to room S311.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
