  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">&copy; {{ site.time | date: '%Y' }} {{ site.title }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="https://github.com/hackers-of-umass/hackers-of-umass.github.io/blob/master/CODE_OF_CONDUCT.md" target="_blank">Code of Conduct</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
